.input {
  width: 300px;
  background-color: transparent;
}
/* .input {
    border: 2px solid #ffc107;
    width: 300px;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: transparent;
    border-radius: 10px;
    transition: all 0.5s;
  } */

.input:hover,
.input:focus {
  border: 1px solid rgba(255, 193, 7, 1);
  background-color: transparent;
  box-shadow: 0 0 20px rgba(255, 188, 3, 0.2);
}

.divider {
  margin: 0 auto;
  width: 50%;
  height: 2px;
  background-color: #ffc107;
  background: linear-gradient(45deg, #111827, #ffc107, #111827);
}

.link {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.link {
  --primary-color: #111;
  --hovered-color: #ffc107;
  position: relative;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  gap: 0.5rem;
  align-items: center;
}

.link::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.link:hover::after {
  width: 100%;
  color: var(--hovered-color);
}

.active-link {
  color: var(--hovered-color);
}
