<div class="container my-2">
    <div class="row mx-auto mt-4">

        <div class="col-12 col-md-6 px-4 py-5 text-start ">
            <h1 class="display-5 fw-bold text-body-emphasis mb-4">Step into <span
                      class="text-warning text-uppercase">"Style"</span>
            </h1>
            <h4 class="fs-3 fw-medium text-body-emphasis mb-4">
                Explore the Latest Footwear Trends.
            </h4>
            <p class="mb-4 text-body-tertiary w-75">
                Discover a diverse range of shoes designed to complement your unique style, ensuring you make a
                statement with every stride.
                Navigate effortlessly through our app with a user-friendly interface, making your shopping
                experience smooth, intuitive, and enjoyable.
            </p>

        </div>

        <div class="col-6 d-none d-md-block">
            <div class="w-100 h-100 ">
                <img src="../../../assets/img/shoes/bg-shoes-02.jpg" alt="" class="img-fluid object-fit-cover h-100">
            </div>
        </div>
    </div>
</div>